<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"bg-dark-3 section","layout":{"type":"constrained"}} -->
<main class="wp-block-group bg-dark-3 section">
	<!-- wp:group {"align":"wide","className":"card","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide card">
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->